<% if stories.empty? %>
  <div class="alert alert-light" role="alert">
    There isn't anything here yet ...
  </div>
<% end %>

<% stories.each do |story| %>
  <%= render 'stories/card', story: story %>
<% end %>

<%= paginate stories, theme: 'bootstrap4' %>
