<div class="alert alert-info" role="alert">
  Join the Pilots of Arelplane <a href="https://www.facebook.com/groups/arelplane" target="_blank">Facebook Group</a>! Give feedback, request features, ask questions.
</div>
<div class="alert alert-primary" role="alert">
  Fly IFR? Order <a href="https://www.facebook.com/commerce/products/2187412311317076" target="_blank">CRAFT notepads!</a>
</div>
