<div class="alert alert-info" role="alert">
  Support Arelplane on <a href="https://www.patreon.com/arelplane" target="_blank">Patreon</a>! We're 100% community funded.
</div>
<div class="alert alert-primary" role="alert">
  Copy clearances? Order <a href="https://amzn.to/2MN2BuY">Pilot notepads!</a> <b>(now on Prime!)</b>
</div>
