<div class="alert alert-info" role="alert">
  Join the Pilots of Arelplane <a href="https://www.facebook.com/groups/arelplane" target="_blank">Facebook Group</a>! Give feedback, request features, ask questions.
</div>
<div class="alert alert-primary" role="alert">
  Copy clearances? Order <a href="https://amzn.to/2MN2BuY">Pilot notepads!</a> <b>(back in stock!)</b>
</div>
