<div class="card m-2">
  <%= image_tag 'demo-img.png', class: 'card-img-top', alt: 'Map image'%>
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
