<p>
  Hello, Arel here from Arelplane. 👋 Thanks for joining, and welcome!
</p>

<p>
  Arelplane is a community of pilots. Feel free to look around at other pilots' pages, and if you see something cool, let the pilot know by following them, liking their post, or leaving a comment.
</p>

<p>
  On a personal note, I'm a pilot working on Arelplane when on the ground. I'm always looking for ways to make Arelplane more helpful and fun, so if you have any ideas, send me a <a href="http://m.me/arelplane"> message</a>, reply to this email, or fill out my <a href="https://goo.gl/forms/mZ5l0Wp2Bxzto2J93">survey</a>.
</p>

<p>
  Thanks again!
</p>

<p>
  Arel English
</p>

<p style="font-size: 8px !important;">If you don't want any emails about anything, ever, <%= link_to 'click here', unsubscribe_url(@user.subscription_preference.unsubscribe_token, unsubscribe: :everything) %></p>
