<p>
  Hello, Arel here from Arelplane. 👋 Thanks for joining, and welcome!
</p>

<p>
  Arelplane is a community of pilots. Feel free to look around at other pilots pages, and if you see something cool, let the pilot know by liking their map.
</p>

<p>
  On a personal note, I'm a pilot working on Arelplane when on the ground. I'm always looking for ways to make Arelplane more helpful and fun, so if you have any ideas, send me a <a href="http://m.me/arelplane">facebook message</a> or reply to this email.
</p>

<p>
  Thanks again!
</p>

<p>
  Arel English
</p>
