<%= title "Arelplane | Edit Flight" %>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-4'></div>
    <div class='col-4'>
      <p class='light-header'>Edit Flight</p>

      <%= render 'form', flight: @flight %>

      <div class="actions">
        <%= link_to "Back", flights_path %>
      </div>
    </div>
    <div class='col-4'></div>
  </div>
</div>
