<%= title "Arelplane | New Flight" %>

<div class='container'>
  <div class='row'>
    <div class='col-1'></div>
    <div class='col-10'>
      <p class='light-header'>New Flight</p>

      <%= render 'form', flight: @flight %>

      <div class="actions">
        <%= link_to "Back", :back %>
      </div>
    </div>
    <div class='col-1'></div>
  </div>
</div>
