<div class="follow_button">
  <% if current_user %>
    <% if current_user.following_user?(@user) %>
      <%= render 'unfollow_button' %>
    <% else %>
      <%= render 'follow_button' %>
    <% end %>
  <% else %>
    <%= render 'follow_button' %>
  <% end %>
</div>
