<nav class="button-share-container">
  <a target="_blank" href="https://twitter.com/intent/tweet?text=La+mirada+de+Snakeyephoto&url=https://www.surfsearchspot.com/?p=16024" class="buttons" tooltip="Comparte en Twitter"> <i class="fa fa-twitter"></i> </a>

  <a target="_blank" href="mailto:?subject=' + escape('Have a look at this website') + '&body=' + escape('https://www.surfsearchspot.com/?p=16024" class="buttons" tooltip="Comparte por Email"> <i class="fa fa-envelope"></i> </a>

  <a target="https://plus.google.com/share?url=https://www.surfsearchspot.com/?p=16024" href="#" class="buttons" tooltip="Comparte en Google Plus"> <i class="fa fa-google-plus"></i> </a>

  <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.surfsearchspot.com/?p=16024" class="buttons" tooltip="Comparte en LikenIn"> <i class="fa fa-linkedin-square"></i> </a>

  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://www.surfsearchspot.com/?p=16024" class="buttons" tooltip="Comparte en Facebook"> <i class="fa fa-facebook"></i> </a>

  <a class="buttons"  href="#" onClick="return false;" >
    <span class="buttons" tooltip="Comparte">
      <span class="rotate"></span>
    </span>
  </a>
</nav>
