<%= title "Arelplane | Home" %>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-3 col-12 d-none d-md-block remove-lr-padding' id='home-sticky-sidebar'>
      <%= render 'users/home_page/side_bar' %>
    </div>
    <div class='col-md-9 col-12 remove-lr-padding'>
      Blarg
    </div>
    <div class='col-md-3 col-12 d-md-none remove-lr-padding' id='home-sticky-sidebar'>
      <%= render 'users/home_page/side_bar' %>
    </div>
  </div>
</div>
