<%= title "Arelplane | Home" %>

<div class='container-fluid home_page'>
  <div class='row'>
    <div class='col-lg-3 col-md-4 col-12 remove-lr-padding' id='sticky-sidebar'>
      <%= render 'users/home_page/side_bar' %>
    </div>
    <div class='col-md-6 col-12 remove-lr-padding mt-4' id='main_feed'>
      <%= render 'users/home_page/main_feed' %>
    </div>
  </div>
</div>
