<div class="container full-page-container">
  <div class="row">
    <div class="col">
      <div class="alert alert-success" role="alert">
        You've been unsubscribed from <%= params[:type] %>
      </div>
    </div>
  </div>
</div>
