<div class="card">
  <div class="card-header">
    Instructions
  </div>
  <div class="card-body">
    <h3>General Requirements</h3>
    <h4>Spreadsheet</h4>
    <p>
      If you keep your logbook as a spreadsheet in excell or a similar program, you can upload using the foreflight option as long as your spreadsheet conforms to the following example:

      <%= image_tag 'foreflight_example.png' %>

      <p>
        The headers are optional, but the order and spacing is important. So, for example, if you don't include AircraftID, leave that column blank, don't remove it.
      </p>
      <p>
        The only required fields are:
        <ul>
          <li>
            Date
          </li>
          <li>
            From
          </li>
          <li>
            To
          </li>
        </ul>
      </p>

    </p>
    <h4>ForeFlight</h4>
    <p>
      To download your ForeFlight logbook, go to
    </p>
  </div>
</div>
