<% story ||= @story %>
<div class="float-right">
  <% if user_signed_in? && current_user.likes?(story) %>
    <%= link_to story_like_path(story), method: :delete, remote: true, class: 'story_liked' do %>
      <%= image_tag('icons/heart_icon_solid.png', width: 19, height: 17) %><span> Liked</span>
    <% end %>
  <% else %>
    <%= link_to story_like_path(story), method: :post, remote: true do %>
      <%= image_tag('icons/heart_icon.png', width: 19, height: 17) %> Like
    <% end %>
  <% end %>
  <%# story.likes.each do |like| %>
    <%#= image_tag like.user.avatar_url, width: 20 %>
  <%# end %>
</div>
