<%= link_to '#', remote: true, class: "add_flight_button" do %>
  <%= image_tag('icons/comment_icon.png', width: 19, height: 17) %><span> Add Flight</span>
<% end %>
<%= link_to '#', remote: true, class: "add_ratings_button" do %>
  <%= image_tag('icons/comment_icon.png', width: 19, height: 17) %><span> Add Ratings</span>
<% end %>
