$backgroundColor: #EEEEEE;
$darkBackgroundColor: #191A1A;
$btnColor: #00CED6;
$btnHover: #00E6F0;

$secondaryColor: #C2C2C2;
$highlightColor: #F514A6;
$darkTextColor: #191A1A;

$linkColor: #1FB6BC;
$lightLinkColor: white;
$darkLinkColor: #191A1A;
$lightSubTextColor: #868F9F;
$primaryTextColor: #343234;
$lightTextColor: white;
$warningColor: #ffc107;
$secondaryButtonColor: #7F7F7F;

$homeSidebarBackground: white;
$profileSidebarBackground: #EDEDED;
$flagBorder: #979797;

$feedBackground: #F2F0F0;
$softText: #737373;
$disabledText: #CDCDCD;

$notificationBackground: #d1ecf1;
