@import "colors";

html, body {
  height: 100%;
  font-size: 16px;
}

html {
  position: relative;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #191A1A;
}

a {
  color: $primaryLinkColor;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

.dark-link {
  color: $darkLinkColor;
}

h6 {
  color: white;
  font-weight: 300;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.sub-header {
  color: white;
}

.header-title {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
}

.header-text {
  color: #191A1A;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 2.25rem;
}

.sub-text {
  color: #343332;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 1.12rem;
}

.light-header {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

.light-sub-text {
  color: $lightSubTextColor;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 1.12rem;
}

.remove-lr-padding {
  padding-right: 0;
  padding-left: 0;
}
