@import "colors";
@import "fonts";

.home_page {
  background-color: $backgroundColor;
  font-family: $baseFont;
  #sticky-sidebar {
    z-index: 0;
    .user_card {
      .name a {
        font-size: 1.875rem;
        font-weight: $black;
        color: $primaryTextColor;
      }
      .subtitle {
        font-size: 1rem;
        font-weight: $regular;
        color: $lightSubTextColor;
      }
      .stats {
        .value {
          font-size: 1.125rem;
          font-weight: $black;
          color: $primaryTextColor;
        }
        .heading {
          font-size: 1rem;
          font-weight: $regular;
          color: $lightSubTextColor;
        }
      }
      .link_section {
        font-size: 1rem;
        font-weight: $regular;
        color: $linkColor;
      }
    }
    .flights_leaderboard_card {
      .title {
        font-size: 1.125rem;
        font-weight: $black;
        color: $primaryTextColor;
      }
      .name a {
        font-size: 1.125rem;
        font-weight: $regular;
        color: $linkColor;
      }
      .count {
        font-size: 1rem;
        font-weight: $regular;
        color: $lightSubTextColor;
      }
    }
  }
  #main_feed {
    min-height: 100vh;
    .story-input-description {
      background-color: $feedBackground;
    }
    .create-story {
      padding: 1rem;
      background-color: white;
    }
    .story_flight {
      display: none;
    }
    .story_ratings {
      display: none;
    }
    .story_ratings {
      .form-check-label.active {
        color: $softText;
        font-weight: $regular;
        font-size: 1.125rem;
      }
      .form-check-label.inactive {
        color: $disabledText;
        font-weight: $extraLight;
        font-size: 1.125rem;
      }
    }
    .nav-item.nav-link.active {
      font-weight: $extraBold;
    }
    .nav-item.nav-link {
      color: $primaryTextColor;
      font-weight: $semiBold;
    }
    .count {
      color: $lightSubTextColor;
      font-weight: $light;
      margin-left: 0.5rem;
    }
    .progress {
      width: 100%;
      .progress-bar {
        background-color: $btnColor;
      }
    }
  }
}

@media (max-width: 767px) {
  .home_page {
    #main_feed {
      min-height: 100vh;
    }
  }
}
