@import "colors";
@import "fonts";

#application-navbar {
  .underline {
    border-bottom: 0.25rem solid $linkColor;
  }
  .octicon {
    fill: white;
  }
  .notifications-button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
  }
}
