@import "colors";
@import "fonts";

.notifications {
  padding-left: 0;
  margin-bottom: 0;
  .octicon {
    fill: white;
  }
  .button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer
  }
  .count {
    position: absolute;
    top:-0.2rem;
    right: -0.3rem;
    padding: 0.1rem 0.4rem;
    border-radius:0.15rem;
    background: $linkColor;
    -webkit-background-clip: padding-box;
    font: $regular 0.8rem/1.125rem $baseFont;
    color: white;
    text-decoration: none;
    opacity: 0.9;
    display: none;
  }
  .button:hover {
    .octicon {
      fill: $linkColor;
    }
  }
  .dropdown-menu {
    left: auto;
    right: 0;
    max-width: 15rem;
    min-width: 15rem;
    .heading {
      padding-left: 1rem;
    }
  }
  .dropdown-item {
    white-space: normal;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
  .dropdown-menu {
    .unread {
      border-left: 0.18rem solid $linkColor;
      background-color: $notificationBackground;
    }
    a {}
  }
}
