#craftpad {
  background-color: white;
  .product-card {
    width: 18rem;
  }
}

#order-confirmation {
  height: 100%;
  width: 100%;
  background-color: white;
  .summary {
    max-width: 50rem;
  }
}
